
/* jquery rating */

div.vote-wrap{
    overflow: hidden;
}

div.vote-block{
	position: relative;
}

div.vote-hover{
    float: left;
    cursor:  pointer;
}


div.vote-stars{
	position: absolute;
	left: 0;
	top: 0;
}

div.vote-active{
	position: absolute;
	left: 0;
	top: 0;
}

div.vote-result{
    color: #ccc;
    font-size: 14px;
    margin-top: 12px;
    padding-left: 190px;
}

div.vote-success{
    clear: both;
    color: #ccc;
    font-size: 14px;
    margin: 10px 0 0 10px;
}